* {
    margin: 0px;
    padding: 0px;
}
body {
    background: rgb(117, 28, 131);
    background: linear-gradient(
        145deg,
        rgba(117, 28, 131, 1) 0%,
        rgba(79, 9, 121, 1) 50%,
        rgba(0, 0, 0, 0.9962359943977591) 100%
    );
}

#container {
    position: relative;
}

#container canvas {
    position: absolute;
}

@supports (pointer-events: none) {
    .sparticles-container {
        z-index: 2;
        pointer-events: none;
    }
}
